<h1><%= @task.title %></h1>

<%= link_to "Edit task", task_edit_path %>

<p>Details: <%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>

<%= link_to "Return to previous page", tasks_path %>